@use '../../Styles/utils' as *;

header {
    position: fixed;
    z-index: 2000;
    left: -20rem;
    width: 20rem;
    height: 100%;
    background: rgba($color: #333333, $alpha: .8);
    transition: all 0.3s ease-in-out;
}

/* Arraging the background in the header menu */


.side-bkg {
    position: absolute;
    z-index: 100;
    top: 0;
    overflow: hidden;
    width: 100%;
    opacity: 0.5;
}

.header-content {
    position: relative;
    z-index: 1000;
    top: 0;
    padding-left: 4rem;
}

/* Designing the menu close button on mobile */


.mobile-menu-close {
    width: 1.8rem;
    height: 2rem;
    position: absolute;
    z-index: 2000;
    right: -6rem;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.mobile-menu-close .bar {
    background: white;
    width: 100%;
    height: 0.2rem;
    transform-origin: 0;
    transition: all 0.2s ease-in-out;
}

.mobile-menu-close .bar-2 {
    margin-block: 0.3rem;
}

.menu-icon-toggle {
    right: 0;
}

.menu-icon-toggle:hover .bar-1 {
    transform: translateY(-2px) rotate(45deg);
}

.menu-icon-toggle:hover .bar-2 {
    width: 0;
}

.menu-icon-toggle:hover .bar-3 {
    transform: translateY(2px) rotate(-45deg);
}


/* Toggling styles, when the user opens and closes the menu */

header.open-header-menu {
    left: 0;
}

/* Styling the peofile photo and title */

.header-content h3, p, .page-sections,
.profile-photo {
    margin-bottom: 1rem;
    color: $primary-text-color;
}

.profile-photo {
    width: 6rem;
    height: 6rem;
    margin-top: 2rem;
    border-radius: 50%;
    background-color: $secondary-color;
}

.header-content h3 {
    font-family: 'Inter', sans-serif;
}

.header-content p {
    margin-bottom: 3rem;
}

/* Styling the header menu list */

.page-sections {
    width: 7rem;
}

.page-sections li{
    margin-bottom: 0.9rem;
    padding-block: 0.2rem;
    outline: transparent;
    transition: all 0.2s ease-in-out;
}

.page-sections a {
    color: $primary-text-color;
}

.page-sections li:hover {
    outline: 2px solid white;
}



@media screen and (min-width: 992px) {
    .mobile-menu-close {
        display: none;
    }


    /* Adjusting the header for large screens */

    header {
        left: calc(50% - 40.5rem);
        transition: none;
    }

    @media screen and (max-width: 1300px) {
        header {
            left: 0;
        }
    }


    /* Animating the header background */

    .side-bkg {
        animation-name: hovering-around;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes hovering-around {
        from {
            top: 0;
        }

        to {
            top: 2rem;
        }
    }
}