/*Project primary colors to be used*/

$primary-color: #222222;
$secondary-color: #333333;
$secondary-color-red: #A51717;


/*Card-icon and background colors*/

$bkg-color-blue: #4969D9;
$bkg-color-green: #5C85A1;
$bkg-color-light-green: #20BC42;
$bkg-color-orange: #E67821;



$primary-text-color: #FFFFFF;
$secondary-text-color: rgba(#FFFFFF, 0.6)