@use '../../Styles/utils' as *;
@use '../../Styles/Component Styles/useComponentStyles';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    font-size: 16px;
}

html {
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, p, a, li {
    color: $primary-text-color;
}

h1 {
    font-size: $h1-400;
}

h2 {
    font-size: $h2-400;
}

h3 {
    font-size: $h3-400;
}

p, a, li {
    font-size: $p-400;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
}


/*Arraging the layout and styles of
project window*/


.App-container {
    background-color: $primary-color;   
}

/*Styling the scrollbar*/


body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #2f2f44;
}

body::-webkit-scrollbar-thumb {
    background: #FF1336;
}

@media screen and (min-width: 992px) {

    h1 {
        font-size: $h1-500;
    }

    h2 {
        font-size: $h2-500;
    }

    h3 {
        font-size: $h3-500;
    }

    p, a {
        font-size: $p-500;
    }

    /* Centering the content on large screens */

    .homepage-menu {
        padding-left: 20rem;
        max-width: 1300px;
        margin-inline: auto;
    }
}